<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Welcome to NestJS</title>
</head>

<body>
    <h1>Welcome to NestJS</h1>
    <p>This is a welcome page for the NestJS application.</p>
</body>

</html>